/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*modale*/

.bandeau {
	background: black;
    width: 100%;
    height: 59px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.bandeau svg {
	padding-right : 11.5px;
}

.modalAppear {
	color: white;
    text-decoration: none;
    align-self: center;
}

.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}

.closeModal {
	display: flex;
    justify-content: center;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 30px;
    top: 26px;
    border: 0px;
    padding: 0px;
    background: white;
}

.changeModal {
	display: flex;
    justify-content: center;
    width: 21px;
    height: 21px;
    position: absolute;
    left: 30px;
    top: 26px;
    border: 0px;
    padding: 0px;
	background: white;
}

.modalProjets {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 60%;
	background: gray;
	border: black;
	opacity: 100%;
}

#modalDiv {
    width: 630px;
    height: 688px;
	background: white;
	border: black;
	opacity: 100%;
	overflow: auto;
	z-index: 1001;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.modalTitle {
    font-family: Work Sans;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 34px;
}

.imgAdd {
	display: flex;
    width: 100%;
    justify-content: flex-start;
}

#imgButton {
	display: flex;
    position: relative;
    top: 26px;
    width: 173px;
    height: 36px;
    border-radius: 50px;
	background: #CBD6DC;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.ajoutTitre {
    display: flex;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
}

.modalButton {
	display: flex;
    border-top-color: #B3B3B3;
    border-top-style: solid;
    border-width: thin;
    margin-top: 47px;
    width: 100%;
    padding-top: 32px;
    justify-content: center;
}

#previewImage {
    position: absolute;
    display: block;
    max-height: 169px;
    max-width: 420px;
    z-index: 1002;
}

.ajoutBoutton {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #A7A7A7;
	width: 237px;
	text-align: center;
	border-radius: 60px ;
    height: 36px;
    border: #A7A7A7;
}

.imgAdd label {
    position: static;
    display: flex;
    justify-content: flex-start;
    width: 420px;
    height: 169px;
    border-radius: 3px;
    background: #E8F1F6;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.imgAdd label svg {
	position: relative;
	top: 13px;
}

.imgAdd label a {
	position: relative;
	top: 33px;
}

#imgButton a {
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	color: #306685;
	position: unset;
	top: unset;
}

.grpImg {
    width: 68%;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    justify-content: flex-start;
}

#grpDestruction {
	display: flex;
}

.preview {
    width: 76.61px;
    height: 102.57px;
}

.imgModal {
    position: relative;
    margin-right: 9px;
    margin-top: 29px;
}

.imgModal button {
	position: absolute;
    bottom: 80px;
    left: 55px;
	width: 17px;
	height: 17px;
	background-color: Black;
	color: #fff;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	padding: unset;
}

.fa-trash:before {
    content: "\f1f8";
}

#projectName {
	width: 420px;
	height: 51px;
	border-width: 0px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0px;
}

#projectCategory {
	width: 420px;
    height: 51px;
    border-width: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#addProjectForm {
	align-self: center;
    width: 68%;
    display: flex;
    flex-wrap: wrap;
}

/*autres*/

#unfiltering {
	width: auto;
    height: inherit;
    margin: unset;
    opacity: 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.filtering {
	width: auto;
    height: inherit;
    margin: unset;
    opacity: 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.apparence {
	position: relative;
    width: fit-content;
    min-width: 100px;
	height: 37px;
	border-radius: 60px;
	box-sizing: border-box;
	border: 1px solid #1D6154;
	margin: 5px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.apparence div {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 25px;
	transition: .5s ease;
	border-radius: inherit;
}

.apparence div p {
	font-family: Syne;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
	color: #1D6154;
	margin-left: 14px;
	margin-right: 14px;
}

input[type=checkbox]:checked ~ div {
	background-color: #1D6154;
}

input[type=checkbox]:checked ~ div p {
	color: #FFFFFF;
}

#portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#portfolio h2 {
	width: 100%;
}

#logLabel {
    text-decoration: none;
    color: unset;
}

#acceuil {
    text-decoration: none;
    color: unset;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#email, #pass {
	width: 100%;
    height: 51px;
    border-width: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#email2, #pass {
	width: 379px;
    height: 51px;
    border-width: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login-form {
    display: flex;
    flex-direction: column;
}

#oubli {
	align-self: center;
}

#loginFoot {
    position: absolute;
    bottom: 0;
    right: 52px;
}

#chgModal {
    width: 420px;
    align-self: center;
}

#chgButton {
	background-color: #1D6154;
	border: #1D6154;
	margin: unset;
}

/*Base*/

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
	display: flex;
    justify-content: space-between;
    margin: 50px 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    gap: 608px;
}

main {
	max-width: 1140px;
	margin:auto;
}

footer {
	max-width: 1140px;
	margin:auto;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
    height: 36px;
    border: #1D6164;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

